html, body {
    height: 100vh;
}

body{
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.center-page{
    width: 100%;
}

.center-container{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.todo-list{
    position: relative;
    min-height: 350px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

.list-group-item{
    cursor: pointer;
    transition: .15s all linear;
}

.list-group-item:not(.active):hover{
    background-color: #f8f9fa;
    transition: .15s all linear;
}

.add-table-button{
    position: absolute;
    right: 12.5px;
    top: 12.5px;
    width: 25px;
    height: 25px;
    color: white;
    z-index: 3;
    text-decoration: none;
}

.add-table-button:hover i{
    color: #f8f9fa !important;
}

.list-text{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: calc(100% - 25px);
}

.delete-table-button{
    float: right;
}
